@model WebApplication3.Models.MealListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Index</title>
</head>
<body>
    <h1>Drinks</h1>
    @foreach (var item in Model.Drinks)
    {
        <p>@item.Name - @item.Price</p>
    }
        <hr>
    <h1>Hot Meals</h1>
    @foreach (var item in Model.HotMeals)
    {
        <p>@item.Name - @item.Price</p>
    }
        <hr>
    <h1>Fast Food</h1>
    @foreach (var item in Model.FastFoods)
    {
        <p>@item.Name - @item.Price</p>
    }
        <hr>

</body>
</html>
